body{
    display: flex;
    justify-content: flex-end;
}
nav{
    
}

code{
    background-color:lightgray
}
h1{
    font-size:35px;
    font-weight: lighter;
}
main{
    
    width:70%;
    padding: 0px 60px 0px 20px;
    margin: 50px;
    
}
